{% extends 'MsiCmfBundle:Page:layout.html.twig' %}

{% block css %}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<style type="text/css">
html {
    overflow-y: scroll;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url(/bundles/novcore/images/bg_sidebar.png) repeat-y 20px 0, url(/bundles/novcore/images/wtf.jpg);
}

.container {
    margin-left: 20px;
}

a {
    color: #87191b;
}

a:hover {
    color: #87191b;
}

#lft {
    float: left;
    width: 220px;
    padding: 20px 20px 52px;
}

#rgt {
    margin-left: 280px;
    margin-top: 86px;
    padding: 20px 20px 10px;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.85) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.85)), color-stop(100%,rgba(255,255,255,0.85)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ffffff', endColorstr='#d9ffffff',GradientType=1 );
    border: 1px solid #bbb;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative;
}

.nav-tabs.nav-stacked>li>a {
    font-size: 17.5px;
    border-width: 1px 0;
    border-radius: 0 !important;
}

address {
    margin-bottom: 10px;
}

html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    margin: 0 auto -42px;
}

.push {
    height: 42px;
}
</style>
{{ parent() }}
{% endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
{{ parent() }}
{% endblock %}

{% block body %}
<div class="wrap">
    <div class="container">
        <div id="lft">
            <p style="margin-bottom: 20px;"><img src="http://www.novello.com/images/nov.png" alt="0"></p>

            {{ knp_menu_render('AcmeDemoBundle:MenuBuilder:mainMenu', {'allow_safe_labels': true, 'depth': 3, 'currentClass': 'active'}) }}

            <address>
                1052 Lionel-Daunais<br>
                Boucherville, QC<br>
                J4B 0B2
            </address>

            <address>
                450.449.7227<br>
                <a target="_blank" href="mailto:#">info@novello.com</a>
            </address>
        </div>
        <div id="rgt">
            {{ msi_block_render('content_top', page) }}
            {{ block('page_content') }}
            {{ msi_block_render('content_bottom', page) }}
        </div>
        <div class="push"></div>
    </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
            <p class="navbar-text pull-right">
                <small><a href="{{ path('homepage', {'_locale': app.request.locale == 'fr' ? 'en' : 'fr'}) }}">{{ app.request.locale == 'fr' ? 'English' : 'Français' }}</a></small>
            </p>
            <p class="navbar-text">
                <small class="muted">&copy; {{ 'now'|date('Y') }} {{ site.translation.brand }}</small>
            </p>
        </div>
    </div>
</div>
{% endblock body %}
